*{
    margin: 0;
    padding: 0;
}

html {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    text-align: center;
}

section {
    display: grid;
    border: 2px solid rgb(23, 32, 28);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

article {
    display: grid;
    border: 2px solid dodgerblue;
    grid-template-columns: 50% 50%;
}

div {
    border: 2px solid pink;
    background-color: aliceblue;
}