* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0 20px;
}

header {
    text-align: center;
    color: #fff;
    height: 100px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 200px;
}

article img {
    max-width: 100%;
    height: 100%;
}

div {
    position: relative;
    background-color: aliceblue;
    padding: 10px;
}

div h2 {
    margin-bottom: 20px;
}

div p:last-child {
    font-weight: 900;
    position: absolute;
    bottom: 10px;
}